</script id="home/teams" type="text/x-handlebars">
	<div class = "container">
		<form class="form-horizontal" role="form" id="Teams">
			<div class="form-group">
				<div class="table-responsive col-lg-offset-2 col-lg-8">
					<table class = "table table-bordered table-striped table-hover">
					{{#each model}}
						<tr>
							<td width = "25%"> 
								<h4> {{teamName}} </h4>
							</td>
							<td width = "20%">
							<div class="btn btn-success btn-block">
								{{#linkTo 'home.team' id}} View {{/linkTo}}
							</div>
								
							</td>
							<td width = "20%">
							<div class="btn btn-warning btn-block">
								{{#linkTo 'home.team' id}} Edit {{/linkTo}}
							</div>	
							</td>	
							<td width = "20%">
							<div class="btn btn-danger btn-block">
								{{#linkTo 'home.team' id}} Delete {{/linkTo}}
							</div> 	
							</td>	
						</tr>
						{{/each}}
					</table>
					<a class="btn btn-primary btn-block" href= "#/AddTeam">Add New Team</a>
				</div>
			</div>
		</form>
	</div>
</script>