</script id="team" type="text/x-handlebars-template">
	<div class = "container">
		<form class="form-horizontal" role="form" id="ShowTeam">
			<div class="form-group">
				<div class="table-responsive col-lg-offset-2 col-lg-8">
					<table class = "table table-bordered table-striped table-hover">
					{{#each model}}
						<tr>
							<td>
							<h4> {{playerName}} </h4>
							</td>
							<td width="20%">
							<a class="btn btn-block btn-warning" href-"#">In</a>
							</td>
							<td width="20%">
							<a class="btn btn-block btn-danger" href= "#">Edit</a>
							</td>
						</tr>
						{{/each}}
					</table>
					<a class="btn btn-block btn-success" href-"#">Done</a>
				</div>
			</div>
		</form>
	</div>
</script>